<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/contact-me.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
    <title>About me</title>
</head>

<body>
<div class="wrapper">
    <header id="sticky">
        <div class="navbar-logo">
            PacalApp
        </div>
        <div class="navbar">
            <ul>
                <li><a href="/index.html"> <i class="fa fa-home"></i> Beranda</a></li>
                <li><a href="portofolio.html"><i class="fa-solid fa-rocket"></i> Portofolio</a></li>
                <li><a href="about-me.html"><i class="fa fa-user"></i> Tentang Kami</a></li>
                <li><a href="contact-me.html"><i class="fa-solid fa-phone"></i> Hubungi Kami</a></li>
            </ul>
        </div>
    </header>
</div>
<section>
    <div class="zi-row-1">
      <div class="zi-col-1">
        <dotlottie-player src="https://assets10.lottiefiles.com/dotlotties/dlf10_PygJmaEUwf.lottie"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></dotlottie-player>
      </div>
      <div class="zi-col-2">
        <form>
            <input type="text" id="name" name="name" placeholder="name"><br>
            <input type="email" id="email" name="email" placeholder="email"><br>
            <select id="gender" name="gender">
                <option value="man">Laki-Laki</option>
                <option value="woman">Perempuan</option>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="message"></textarea>
            <input type="submit" value="Submit">
          </form>
      </div>
    </div>
</section>

<footer>
    <p><a href="https://www.enigmacamp.com/wordpress-prod" target="_blank" rel="noopener noreferrer">Enigma Camp - IT Bootcamp</a> © 2022. All rights reserved</p>
</footer>

<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.js"></script>
<</body>

</html>