<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/portofolio.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
        <title>Portofolio</title>
    </head>

<body>
<div class="wrapper">
    <header id="sticky">
        <div class="navbar-logo">
            PacalApp
        </div>
        <div class="navbar">
            <ul>
                <li><a href="home.html"> <i class="fa fa-home"></i> Beranda</a></li>
                <li><a href="portofolio.html"><i class="fa-solid fa-rocket"></i> Portofolio</a></li>
                <li><a href="about-me.html"><i class="fa fa-user"></i> Tentang Kami</a></li>
                <li><a href="contact-me.html"><i class="fa-solid fa-phone"></i> Hubungi Kami</a></li>
            </ul>
        </div>
    </header>
</div>
<section>
    <div class="card-porto">
      <div class="row">
        <div class="zi-col left">
          <img class="img-round" src="https://images.unsplash.com/photo-1594751543129-6701ad444259?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80" alt="img" width="100px" height="100px">
          <h3 class="edu">Education</h3>
          <hr color="yellow">
          <p>
            2004 - 2010 <br>
            SDN Jakasampurna XI <br>
            Bekasi
          </p>
          <p>
            2004 - 2010 <br>
            SDN Jakasampurna XI <br>
            Bekasi
          </p>
          <br>
          <p>
            2004 - 2010 <br>
            SDN Jakasampurna XI <br>
            Bekasi
          </p>


          <h3 class="edu">Contact</h3>
          <hr color="yellow">
          <p>
            Phone <br>
            +62876787677
          </p>
          <p>
            Email <br>
            akhmadfauzi9797@gmail.com
          </p>
          <p>
            Address <br>
            Jl.kasuari raya blok D97
          </p>
        
        </div>
        <div class="zi-col right">
          <h1>Akhmad Fauzi</h1>
          <h3>Web Dev</h3>

          <h3 class="profile">Profile</h3>
          <hr color="yellow">

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A pariatur exercitationem eius aliquid reiciendis at aperiam doloribus libero, vel molestiae dignissimos debitis inventore corrupti rem doloremque veritatis quo quam dicta.</p>
            
          <h3 class="profile">Experience</h3>
          <hr color="yellow">
          <div class="row">
            <div class="zi-col-exp left">
                <p>2021 - last year</p>
            </div>

            <div class="zi-col-exp right">
                <h4>UX Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos libero nulla, sequi, repellat sed facilis eum praesentium quas, ab sint nisi provident. Dolor eveniet, veritatis iste dicta distinctio explicabo nisi!</p>
            </div>

          </div>
          <div class="row">
            <div class="zi-col-exp left">
                <p>2021 - last year</p>
            </div>

            <div class="zi-col-exp right">
                <h4>UX Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos libero nulla, sequi, repellat sed facilis eum praesentium quas, ab sint nisi provident. Dolor eveniet, veritatis iste dicta distinctio explicabo nisi!</p>
            </div>

          </div>

        </div>
      </div>
    </div>
</section>

<footer>
    <p><a href="https://www.enigmacamp.com/wordpress-prod" target="_blank" rel="noopener noreferrer">Enigma Camp - IT Bootcamp</a> © 2022. All rights reserved</p>
</footer>

<script src="../../assets/js/home.js"></script>

</body>

</html>